@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  background: #f3f3f3;
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: transparent;
  color: #bdbdbd;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  background: white;
  border-radius: 0 5px 5px 0;
  transition: background 0.2s;
  flex: 1;
  font-size: 20px;
  font-weight: 200;
}
