@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #f3f3f3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
svg {
  fill: #000000a6;
  padding: 0px;
  width: 70px;
}
path {
  margin: 0;
  padding: 0;
}
.wrapper {
  padding: 20px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 20px 7px rgb(0 0 0 / 8%);
  border-radius: 4px;
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.plates li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.plates label {
  flex: 1;
  cursor: pointer;
}

.plates input {
  display: none;
}

.plates input + label:before {
  content: "⬜️";
  margin-right: 10px;
}

.plates input:checked + label:before {
  content: "✅";
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button {
  border-radius: 30px;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  transition: all 150ms;
}
.plates button {
  max-height: 32px;
}
.plates button:hover {
  background: #fde8e8;
}
.wrapper > button {
  margin-top: 30px;
}
.wrapper > button:hover {
  opacity: 0.9;
}
#checked-all:hover,
#unchecked-all:hover {
  border: 1px solid transparent;
  background: #e8f6fd;
}

#delete-all:hover {
  border: 1px solid #fde8e8;
  background: #fde8e8;
}
