@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  color: black;
  background: #f3f3f3;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  font-size: 70px;
  padding: 3px 60px;
  border: 2px solid grey;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 200ms;
}

h1:hover {
  box-shadow: 0px 5px 10px #8080805b;
  transform: translateY(-5px);
}
