@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 1.7rem;
  font-weight: 600;
}
